button {
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: medium;
  margin: 10px 0px;
  transition: all 0.5s;
}
button:hover {
  box-shadow: 5px 5px 5px dimgrey;
}

button:focus {
  outline: none;
}

/* go to mediaQueries for color changes */
